.counter {
    display: flex;
    margin-bottom: 2%;
    padding-left: 6%;
}

.product .row .btnCounter {
    width: 5%;
    margin: 0;
}

.product .row .counter .btnBasket {
    margin-left: 5%;
}

.textCounter {
    font-size: 3vh;
    margin: 0;
    text-align: center;
}