body {
  background-color: #EDEDED;
}

img {
  top: 0;
  left: 0;
}

.products .row .col {
  margin-left: 5%;
}

.products .row p {
  width: 100%;
  font-size: 2vh;
  margin-left: 20%;
}

.scale:hover {
  transform: scale(1.1);
}

.productsMain {
  display: flex;
}

.products {
  margin-top: 2%;
}


.rowFiltr {
  margin-left: 8%;
  margin-bottom: 2%;
}

.rowFiltr img {
  width: 2%;

}

.products .select {
  margin-left: 1%;
}

.products .rowFiltr a {
  margin-left: 1%;
  font-size: 2vh;
}

.modal-content {
  background-color: #c9c9c9;
  border: 1px solid #09A725;
  color: #09A725;
  border-radius: 5%;
  text-align: center;
  width: 70%;
}

.modal-content input {
  margin-top: 2%;
  border: 1px solid #09A725;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}

.modal-content button {
  width: 70%;
  height: 38px;
  border-radius: 3px;
  margin-top: 7%;
  margin-bottom: 7%;
}

.modal-content a:hover {
  font-weight: bold;
}

.modal-content a:active {
  font-weight: bold;
}

.modal-content h3 {
  padding-bottom: 3%;
}

.thumb h2 {
  color: #5E5E5E;
}

.modal-content button {
  margin-top: 8%;
  background-color: #09A725;
  border: #09A725;
  width: 70%;
  height: 40px;
  margin-bottom: 5%;
  border-radius: 5px;
  text-align: center;
  font-size: 2vh;
}

.modal-content button:hover {
  background-color: #007915 !important;
  font-weight: bold;
}

.order p {
  font-size: 3vh;
  font-weight: bold;
  color: #5E5E5E;
  margin-bottom: 0.3%;
}

.search {
  margin-left: 5%;
  height: 150px;
}

.lineSearch {
  border-bottom: 1px solid #09A725;
  margin-bottom: 1%;
}

.searchProduct {
  margin-bottom: 2%;
  margin-left: 2%;
}

.searchProduct a {
  font-size: 2vh;
}

h2 {
  margin-left: 2%;
}

.successful {
  height: 150px;
}

.successful p {
  margin-top: 10%;
  font-size: 2.5vh;
}