body {
  background-color: #EDEDED;
}

.FooterBlock {
  width: 33.333%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 60%;
}

.FooterBlock img {
  width: 7%;
  margin-right: 3%;
  margin-left: 3%;
}

ul {
  margin-bottom: 10%;
  margin-left: 20%;
  text-align: left;
}

li {
  line-height: 70%;
  font-size: 120%;
  list-style-type: none;
  margin-left: 0;
}

li p {
  padding: 5px;
  color: #000000;
  font-size: 14px;
}

.Footer {
  width: 100%;
  height: 30%;
  bottom: 0;
}

.About p {
  margin-top: 1%;
  margin-left: 5%;
  font-size: 20px;
  width: 90%;
}

.About h5 {
  margin-left: 5%;
  margin-top: 1%;
}

.About img {
  margin-left: 20%;
  width: 60%;
}

.line {
  border-bottom: 3px solid #09A725;
}

.MenuMiddle {
  width: 100%;
  top: 30px;
  background: url(Components/background.jpg);
  background-position: 100% 60%;
  height: 105px;
}

.MenuBottom {
  background: #09A725;
  width: 100%;
  height: 47px;
  top: 17%;
}

.header {
  position: fixed top;
}

.MenuTop {
  background-color: #09A725;
  width: 100%;
  height: 30px;
}

.MenuBottom a {
  color: #000000 !important;
  font-weight: 500;
  font-size: 130%;
  text-align: center;
}

.MenuBottom a:hover {
  color: #000000 !important;
  background: #007915;
  font-weight: 500;
  font-size: 130%;
  text-align: center;
}

img {
  top: 0;
  left: 0;
}

.headerImage {
  width: 24px;
  height: 26px;
  left: 10px;
  top: 13px;
  float: left;
  margin: 2px;
}

.one {
  display: inline-flex;
  float: left;
  padding-left: 5px;
}

.two {
  display: inline-flex;
  float: right;
  padding-right: 10px;
}

a {
  padding: 5px;
  font-size: 75%;
  text-decoration: none;
  color: #000000;
}

.contact img {
  margin: 2%;
  width: 60%;
  border-radius: 4px;
}

.contact {
  width: 33.333%;
  text-align: center;
  float: left;
}

.contactMiddle {
  width: 33.333%;
  text-align: left;
  float: left;
}

.contactBottom{
  width: 33.333%;
  text-align: left;
  float: left;
}

.contactMiddle img {
  float: left;
  width: 5%;
  margin-top: 2%;
  margin-right: 2%;
}

.contactMiddle p {
  margin-top: 2%;
}

.ContactBlock {
  height: 700px;
}

.rectangleOne{
  background: #C4C4C4;
  width: 180px;
  height: 35px;
  margin-top: 4%;
  border-radius: 4px;
  color: #5E5E5E;
}

.rectangleOne img{
  width: 20%;
  float: left;
  margin-top: 0;
  margin-left: 2%;
  margin-right: 7%;
}
.rectangleOne p{
  margin: 2px;
}

a:hover {
  color: #000;
  font-size: 75%;
  font-weight: bold;
}

.rightMenu {
  width: 50%;
  float: right;
  height: 100%;
}

.leftMenu {
  width: 50%;
  float: left;
  height: 100%;
}

Button {
  width: 35%;
  background-color: #09A725 !important;
  border: #09A725 !important;
  color: #000 !important;
}

Button a:hover {
  width: 35%;
  background-color: #007915 !important;
  border: #007915 !important;
  color: #000;
}

.control-picture {
  float: right;
  height: 100px;
  width: 40%;
  font-size: 130%;
}

.control-picture p {
  margin-top: -10%;
  margin-left: 72%;
  font-size: 16px;
  color: #5E5E5E;
}

.basket {
  width: 15%;
  margin-top: 12%;
  margin-left: 50%;
}

.control {
  width: 60%;
  float: left;
  margin-top: 5%;
  border: 1px solid #000000;
  border-radius: 5px;
}